# Default ignored files
/../../Numero par /.idea/shelf/
/../../Numero par /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Numero par /.idea/httpRequests/
# Datasource local storage ignored files
/../../Numero par /.idea/dataSources/
/../../Numero par /.idea/dataSources.local.xml
